<!-- <div class="wrapper"> -->

<!-- START CONTENT -->
<section id="content">

  <!--start container-->
  <div class="container">

    <!--card stats start-->
    <div id="card-stats">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <a ui-sref="home.serviceview">
              <div class="card-content  green white-text">
                <p class="card-stats-title">Service items</p>
                <h4 class="card-stats-number">{{serviceCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span> -->
                </p>
              </div>
              <div class="card-action  green darken-2">
                <div id="clients-bar" class="center-align"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <a ui-sref="home.userview.user">
              <div class="card-content pink lighten-1 white-text">
                <p class="card-stats-title"> Total number of Users</p>
                <h4 class="card-stats-number">{{userCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span> -->
                </p>
              </div>
              <div class="card-action  pink darken-2">
                <div id="invoice-line" class="center-align"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <a ui-sref="home.userview.marketingmanager">
              <div class="card-content blue-grey white-text">
                <p class="card-stats-title"> Marketing Managers</p>
                <h4 class="card-stats-number">{{mmCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 80% <span class="blue-grey-text text-lighten-5">from yesterday</span> -->
                </p>
              </div>
              <div class="card-action blue-grey darken-2">
                <div id="profit-tristate" class="center-align"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <a ui-sref="home.userview.usercarmanager">
              <div class="card-content purple white-text">
                <p class="card-stats-title">Used Car Managers

                </p>
                <h4 class="card-stats-number">{{ucCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span class="purple-text text-lighten-5">last month</span> -->
                </p>
              </div>
              <div class="card-action purple darken-2">
                <div id="sales-compositebar" class="center-align"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <a ui-sref="home.userview.serviceschedulers">
              <div class="card-content  green white-text">
                <p class="card-stats-title"> Service Schedulers
                </p>
                <h4 class="card-stats-number">{{ssCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span> -->
                </p>
              </div>
              <div class="card-action  green darken-2">
                <div id="clients-bar" class="center-align"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <a ui-sref="home.userview.serviceadviser">
            <div class="card">
              <div class="card-content pink lighten-1 white-text">
                <p class="card-stats-title"> Service Advisers
                </p>
                <h4 class="card-stats-number">{{saCount}}</h4>
                <!-- <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span> -->
                </p>
              </div>
              <div class="card-action  pink darken-2">
                <div id="invoice-line" class="center-align"></div>
              </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <!--card stats end-->


</section>
