
<style>
    body {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  
    .login_outer {
      display: table-cell;
      vertical-align: middle;
    }
    .card-panel{
    width: 100%;
    max-width: 100%;
  }
  </style>
<div class="login-wrapper">
  <div id="login-page" class="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form formValidate" name="sendLinkForm" id="formValidate" ng-submit="forgetPassword()">
        <div class="row">
          <div class="input-field col s12 center">
            <h5>Forgot Password</h5>
            <p class="center">You can reset your password</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="email" name="email" type="text" ng-model="userData.email" required data-error=".errorTxt1">
            <label for="email">Email</label>
            <div class="errorTxt1"></div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12" name="button">Send Link</button>
          </div>
          <div class="input-field col s12">
            <p class="margin sign-up"><a ui-sref="login" class="right">Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#formValidate").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
    },
    //For custom messages
    messages: {
      email: {
        required: "Email id needed",
        minlength: "Enter valid email"
      },
      curl: "Enter your website",
    },
    errorElement: 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>
