<style>
  .image-wrapper p{
    white-space: initial;
  }
</style>
<div class="container">
  <div class="section">
    <div class="decor-div white z-depth-1">
       <!-- <a ui-sref="home.add-image" style="display: inline-block;width: 100%;text-align:right;">
          <i class="material-icons orange-text" style="font-size: 36px !important">control_point</i>
        </a> -->
      <!-- <p class="caption">Tables are a nice way to organize a lot of data. We provide a few utility classes to help you style your table as easily as possible. In addition, to improve mobile experience, all tables on mobile-screen widths are centered automatically.</p> -->
      <div id="table-datatables">
        <!-- <center> <h4> Marketing</h4></center> -->
       
        
        <div class="container image-wrapper">
            <p>
                <b class="p_style">Marketing</b>
            </p>
            <p>
              On this page, you can remove any pictures that you would not like to include in the Marketing Manager when creating offers.
               In order to add your own pictures, you can email us your pictures at <b>support@myautoiq.com</b>.
            </p>
          <div class="section">
            <div class="row">
              <div class="col s6 m3 image-container" ng-repeat="image in imageList">
                <img class="responsive-img z-depth-1 oml_img" src="{{ image.picture.url }}" alt="">
                <div class="close" ng-click="deleteRemove(image.id, $index)">
                  <i class="material-icons dp48 oml_icon">close</i>
                </div>
              </div>
            </div>
            <div class="" ng-show="imageList.length == 0">
              <h4>No Images</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>