<div id="jqueryvalidation" class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l12">
          <div class="card-panel">
            <h4 class="header2">
                Maintenance Schedule Offer Items
            </h4>
            <div class="row">
              <form class="formValidate" name="addServiceForm" id="formValidate" ng-submit="addMOfferList()">
                  <label for="sname21">Select the mileage</label>                    
                  
                <div class="row">
                  <div class="input-field col s3" ng-repeat="mile in mileageList.mileage">
                    <p >
                      <input name="group1" type="checkbox" ng-model="mileage" id="test{{mile}}" ng-change="selectMileages(mile)"  />
                      <label for="test{{mile}}">{{mile}}</label>
                      </p>
                    <div class="errorTxt21"></div>
                  </div>
                </div>
                <label ng-if="selectedservices.length!=0" for="sname22">Selected Services</label>
                <p ng-repeat="service in selectedservices">
                  <input name="group1" type="checkbox" ng-model="service.checked" id="test{{service._id}}" ng-change="selectService(service)"  />
                  <label for="test{{service._id}}">{{service.name}}</label>
                  </p>
                <div class="row">
                    <div class="input-field col s12">
                      <label for="sname22">Search Services</label>
                      <input id="sname22" name="sname22" type="text" data-error=".errorTxt22" ng-model="key" >
                      <div class="errorTxt21"></div>
                    </div>
                  </div>
                <p ng-repeat="service in serviceList" ng-if="selected.indexOf(service._id) === -1" >
                    <input name="group1" type="checkbox" ng-model="service.checked" id="test{{service._id}}" ng-change="selectService(service)"  />
                    <label for="test{{service._id}}">{{service.name}}</label>
                    </p>
                <div class="row">
                  <div class="input-field col s12">
                    <a ui-sref="home" class="btn grey darken-1">Cancel </a>
                    <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                     Submit
                     <i class="mdi-content-send right"></i>
                   </button>
  
                  </div>
                </div>
              </form>
              <!-- <div class="center">
                - OR Upload file-
              </div>
              <div class="">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Upload</span>
                      <input type="file" onchange="angular.element(this).scope().uploadFileRecall(this.files)">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
  
  
                    <div id="card-alert" class="card red lighten-5" ng-if="already">
                        <div class="card-content red-text">
                          <p ng-repeat="all in already">Already exist : {{all.name}}</p>
                        </div>
                        <button type="button" ng-click="close()" class="close red-text" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                  </div> -->
                  <!-- For bulk upload, you can use an excel sheet.
  Please download the sample excel format <a href="http://www.dsaidemo.com/Service_items.xls" targer="_blank">HERE </a> -->
  
                  <!-- <div class="row">
                    <div class="input-field col s12">
                      <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                       UPLOAD
                       <i class="mdi-content-send right"></i>
                     </button>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  