<div class="container">
  <div class="section">
    <div class="offer-section-otr white z-depth-1">
      <form class="" ng-submit="addImages()">
        <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title m_b_25">
            <b class="required flow-text ">Images</b>
          </div>
        </div>
        <div>
          <style>
            .cropArea {
              margin: 30px auto;
              background: #E4E4E4;
              overflow: hidden;
              width: 500px;
              height: 350px;
            }
          </style>
        </div>
        <span class="add_image" ng-show="image_message">Please Add Images.Image Types Allowed: png, jpeg, jpg, gif</span>
        <div class="panel-body" style="padding-top: 0px;">
          <div class="form-group" ng-show="!showCroppedImg">
            <div class="select_img"><b>Select an image file:</b>
              <div class="">
                <!-- <input type="file" id="fileInput" name="image" data-error=".errorTxt5" required/> -->
                <div class="file-field input-field">
                  <div class="btn waves-effect waves-light">
                    <span>File</span>
                    <input type="file" id="fileInput" capture="filesystem">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" name="image" data-error=".errorTxt5" type="text">
                  </div>
                </div>
                <div class="errorTxt5"></div>
                <!-- <div class="image_type_error" id="image_type">
                  Invalid image type
                </div> -->
              </div>
            </div>
            <div class="cropArea">
              <img-crop result-image-size="640" ngf-pattern="'image/*'" ngf-accept="'image/*'" image="myImage" area-type="square" result-image="myCroppedImage">
              </img-crop>
            </div>
            <div class="center-align ">
              <input type="button" id="cropped" class="btn btn-warning image_cropped" value="Crop Image" ng-click="crop()">
              <!-- <div id="cropImage" class="errorImage">Crop offer banner</div> -->
            </div>
          </div>
          <div class="image_wrapper" ng-show="showCroppedImg">
            <div class="clear" ng-click="clearImage()">
              <i class="material-icons dp48">clear</i>
            </div>
            <img ng-src="{{ blobUrl }}" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a ui-sref="home.list-image" class="btn grey darken-1">Cancel </a>
          <button class="btn waves-effect waves-light right submit" type="submit" name="action">
            Submit
            <i class="mdi-content-send right"></i>
         </button>
        </div>
      </div>
      </form>
    </div>

  </div>
</div>
