<style>
  .input-field label {
    left: 0.75rem !important;
  }

  h4.header2 {
    margin: 1em .8em;
    /* padding-top: 6em; */
  }

  .user-setting {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
  }

  .user-setting p {
    margin: 10px;
    font-weight: 560;
    letter-spacing: .7px;
  }

  .admin-day-slot [type="checkbox"]+label {
    margin: 10px;
  }

  .tabs .tab a.active {
    background-color: #fff;
    color: #000;
  }

  .tabs .tab a,
  .tabs .tab a:hover {
    color: #039be5;
    background: #f6f6f6;
  }

  .card-panel {
    margin: 0;
    padding-top: 20px !important;
    box-shadow: none;
  }

  .tabs>.indicator {
    display: none;
  }

  .tabs .tab {
    max-width: 17%;
  }

  #test3 p {
    display: inline-block;
    margin: 2px 10px 20px;
    width: 100%;
  }
  .if-label .input-field label{
    position: relative;
    margin: 10px;
    display: inline-block;
    left: 0 !important;
  }
  .if-label .input-field select{
    border-radius: 0;
  }
  .temp_color_p{
        color: #000;
    font-size: 1rem;
    margin: 0 0 10px;
    font-weight: 600;
    letter-spacing: .6px;
  }
  .temp_color input{
    margin: 10px 0;
  }
</style>

<div id="jqueryvalidation" class="section">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="col s12 m12 l12">
        <div class="settings-otr-info">
          <div class="col s12">
            <div class="row z-depth-1">
              <div class="">
                <ul class="tabs tab-demo">
                  <li class="tab">
                    <a class="active" href="#test2" class="">Profile</a>
                  </li>
                  <li class="tab">
                    <a href="#test1">Configuration</a>
                  </li>
                  <li class="tab">
                    <a href="#test3" class="">Data Upload</a>
                  </li>
                  <li class="indicator" style="right: 1px; left: 605px;"></li>
                </ul>
              </div>
              <div class="col s12 card-panel" style="width:100%;max-width: 100%;">
                <div id="test1" class="col s12" style="display: none;">
                  <div class="row">
                    <form class="formValidate1" id="formValidate" ng-submit="updateSetting()">
                      <div class="row if-label">
                        <!-- <div class="input-field col s12">
                          <label for="address">Address*</label>
                          <input id="address" type="text" name="address" data-error=".errorTxt4" ng-model="settings.contact.address">
                          <div class="errorTxt4"></div>
                        </div> -->
                        <div class="margin input-field col s12">
                          <label for="manufactur">Dealer​ ​OEM​ ​association</label>
                          <select id="manufactur" class="browser-default" name="manufactur" ng-model="settings.manufactur">
                            <option ng-repeat="make in makesList" value="{{make._id}}">{{make.name}}</option>
                          </select>
                        </div>
                        <div class="margin input-field col s12">
                          <label for="work_start_time">Dealership​ ​working​ ​hours​ - Start Time</label>
                          <select data-error=".errorTxt8" class="browser-default" name="work_start_time" id="work_start_time" ng-model="settings.working_hours.start_time">
                            <option ng-repeat="hour in hours" ng-value="hour">{{hour}}</option>
                          </select>
                          <div class="errorTxt4"></div>
                        </div>
                        <div class="margin input-field col s12">
                          <label for="work_end_time">Dealership​ ​working​ ​hours​ - End Time</label>
                          <select data-error=".errorTxt8" class="browser-default" name="work_end_time" id="work_end_time" ng-model="settings.working_hours.end_time">
                            <option ng-repeat="hour in hours" ng-disabled="settings.working_hours.start_time >= hour" ng-value="hour">{{hour}}</option>
                          </select>
                          <div class="errorTxt4"></div>
                        </div>
                        <div class="input-field m_b_25">
                          <label for="days_of_service"><b class="black-text">Days for service*</b></label>
                          <br/>
                          <span class="admin-day-slot">
                            <span>
                              <input type="checkbox" id="sundaycheck" ng-model="settings.days_of_service.sunday" />
                              <label for="sundaycheck">Sunday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="mondaycheck" ng-model="settings.days_of_service.monday" />
                              <label for="mondaycheck">Monday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="tuesdaycheck" ng-model="settings.days_of_service.tuesday" />
                              <label for="tuesdaycheck">Tuesday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="wednesdaycheck" ng-model="settings.days_of_service.wednesday" />
                              <label for="wednesdaycheck">Wednesday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="thursdaycheck" ng-model="settings.days_of_service.thursday" />
                              <label for="thursdaycheck">Thursday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="fridaycheck" ng-model="settings.days_of_service.friday" />
                              <label for="fridaycheck">Friday</label>
                            </span>
                            <span>
                              <input type="checkbox" id="saturdaycheck" ng-model="settings.days_of_service.saturday" />
                              <label for="saturdaycheck">Saturday</label>
                            </span>
                          </span>
                        </div>
                        <div class="margin col s12 temp_color">
                          <label for="template_color">
                          <p class="temp_color_p">Template Color*</p></label>
                          <input id="template_color" type="color" name="template_color" data-error=".errorTxt4" ng-model="settings.template_color">
                          <div class="errorTxt4"></div>
                        </div>
                        <div class="row user-setting">
                          <p>Other configuration</p>
                          <div class="margin col s12">
                            <label for="booking_before_time">Earliest​ ​timeframe​ ​for​ ​online​ ​appointment​ ​setup​(Hours)*</label>
                            <input id="booking_before_time" type="number" name="booking_before_time" data-error=".errorTxt4" ng-model="settings.booking_before_time">
                            <div class="errorTxt4"></div>
                          </div>
                          <div class="margin col s12">
                            <label for="appointment_interval">Service​ ​appointment​ ​interval​ ​for​ ​taking​ ​appointments(Minutes)*</label>
                            <select data-error=".errorTxt8" class="browser-default" name="appointment_interval" id="appointment_interval" ng-model="settings.appointment_interval">
                              <option ng-value="15">15 mins</option>
                              <option ng-value="30">30 mins</option>
                              <option ng-value="60">60 mins</option>
                            </select>
                          </div>
                          <div class="margin col s12">
                            <label for="auto_cancel_appointment_time">Auto​ ​cancel​ ​service​ ​appts​ ​for​ ​no​ ​shows​ ​after​ ​x​ ​hours*</label>
                            <input id="auto_cancel_appointment_time" type="text" name="auto_cancel_appointment_time" data-error=".errorTxt4" ng-model="settings.auto_cancel_appointment_time">
                            <div class="errorTxt4"></div>
                          </div>
                        </div>
                        <div class="input-field col s12">
                          <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                            Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div id="test2" class="col s12">
                  <div class="row">
                    <form class="formValidate" id="formValidate1" ng-submit="updateProfile()">
                      <div class="row user-setting">
                        <p>Account details</p>
                        <div class="input-field col s12">
                          <label for="uname">Dealer name*</label>
                          <input id="uname" name="uname" type="text" data-error=".errorTxt1" ng-model="profileData.name">
                          <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="cemail">Email*</label>
                          <input id="cemail" type="email" name="cemail" data-error=".errorTxt2" ng-model="profileData.email">
                          <div class="errorTxt2"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="cephone">Phone*</label>
                          <input id="cephone" type="text" name="cephone" data-error=".errorTxt2" ng-model="profileData.phone">
                          <div class="errorTxt2"></div>
                        </div>
                        <div class="">
                          <!-- Modal Trigger -->
                          <a class="waves-effect waves-light btn modal-trigger grey darken-2" href="#modal1">Change Password</a>
                        </div>
                        <div class="input-field col s12">
                          <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                            Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                        <div class="row user-setting">
                          <p>Primary Contact</p>
                          <div class="input-field col s12">
                            <label for="pcname">Name*</label>
                            <input id="pcname" name="pcname" type="text" data-error=".errorTxt1" ng-model="settings.primary_contact.name">
                            <div class="errorTxt1"></div>
                          </div>
                          <div class="input-field col s12">
                            <label for="pcemail">Email *</label>
                            <input id="pcemail" type="email" name="pcemail" data-error=".errorTxt2" ng-model="settings.primary_contact.email">
                            <div class="errorTxt2"></div>
                          </div>
                          <div class="input-field col s12">
                            <label for="pcphone">Phone *</label>
                            <input id="pcphone" type="text" name="pcphone" data-error=".errorTxt2" ng-model="settings.primary_contact.phone">
                            <div class="errorTxt2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row user-setting">
                        <p>Secondary contact</p>
                        <div class="input-field col s12">
                          <label for="scname">Name*</label>
                          <input id="scname" name="scname" type="text" data-error=".errorTxt1" ng-model="settings.secondary_contact.name">
                          <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="scemail">Email *</label>
                          <input id="scemail" type="email" name="scemail" data-error=".errorTxt2" ng-model="settings.secondary_contact.email">
                          <div class="errorTxt2"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="scphone">Phone *</label>
                          <input id="scphone" type="text" name="scphone" data-error=".errorTxt2" ng-model="settings.secondary_contact.phone">
                          <div class="errorTxt2"></div>
                        </div>
                      </div>
                      <div class="row user-setting">
                        <p>Details to be displayed on invoice</p>
                        <div class="input-field col s12">
                          <label for="dnname">Name*</label>
                          <input id="dnname" name="dnname" type="text" data-error=".errorTxt1" ng-model="settings.invoice_contact.name">
                          <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="dnemail">Email *</label>
                          <input id="dnemail" type="email" name="dnemail" data-error=".errorTxt2" ng-model="settings.invoice_contact.email">
                          <div class="errorTxt2"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="dnphone">Phone *</label>
                          <input id="dnphone" type="text" name="dnphone" data-error=".errorTxt2" ng-model="settings.invoice_contact.phone">
                          <div class="errorTxt2"></div>
                        </div>
                      </div>
                      <div class="row user-setting">
                        <p>Contact Details to be displayed on to customers</p>
                        <div class="input-field col s12">
                          <label for="cdcname">Name *</label>
                          <input id="cdcname" name="cdcname" type="text" data-error=".errorTxt1" ng-model="settings.contact_to_show_customer.name">
                          <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="cdcemail">Email *</label>
                          <input id="cdcemail" type="email" name="cdcemail" data-error=".errorTxt2" ng-model="settings.contact_to_show_customer.email">
                          <div class="errorTxt2"></div>
                        </div>
                        <div class="input-field col s12">
                          <label for="cdcphone">Phone *</label>
                          <input id="cdcphone" type="text" name="cdcphone" data-error=".errorTxt2" ng-model="settings.contact_to_show_customer.phone">
                          <div class="errorTxt2"></div>
                        </div>
                      </div>
                      <!-- <div class="file-field input-field col s12">
                        <div class="btn">
                          <span>Upload your logo</span>
                          <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" disabled type="text">
                        </div>
                        <img width="100" height="100" ng-if="settings.site_logo" src="{{settings.site_logo.url}}">
                        <div class="errorTxt21"></div>
                      </div> -->
                      <div class="panel panel-default" id="two">
                                <div class="panel-heading">
                                  <div class="panel-title">
                                    <b class="required">Upload your logo</b>
                                  </div>
                                </div>
                                <div>
                                  <style>
                                    .cropArea {
                                      margin: 30px auto;
                                      background: #E4E4E4;
                                      overflow: hidden;
                                      width: 500px;
                                      height: 350px;
                                    }
                                  </style>
                                </div>
                                <span class="add_image" ng-show="image_message">Please Add Images.Image Types Allowed: png, jpeg, jpg, gif</span>
                                <div class="panel-body" style="padding-top: 0px;">
                                  <div class="form-group" ng-show="!showCroppedImg">
                                    <div class="select_img"><b>Select an image file:</b>
                                      <div class="">
                                        <div class="file-field input-field">
                                          <div class="btn">
                                            <span>File</span>
                                            <input type="file" id="fileInput" capture="filesystem">
                                          </div>
                                          <div class="file-path-wrapper">
                                            <input class="file-path validate" name="image" data-error=".errorTxt5" type="text">
                                          </div>
                                        </div>
                                        <div class="errorTxt5 error1"></div>
                                        <div class="image_type_error" id="image_type">
                                          Invalid image type
                                        </div>
                                      </div>
                                    </div>
                                    <div class="cropArea">
                                      <img-crop result-image-size="640" ngf-pattern="'image/*'" ngf-accept="'image/*'" image="myImage" area-type="square" result-image="myCroppedImage">
                                      </img-crop>
                                    </div>
                                    <div class="text-center ">
                                      <input type="button" id="cropped" class="btn btn-warning image_cropped" value="Crop Image" ng-click="crop()">
                                      <!-- <div id="cropImage" class="errorImage">Crop offer banner</div> -->
                                    </div>
                                  </div>
                                  <div class="image_wrapper" ng-show="showCroppedImg">
                                    <div class="clear" ng-click="clearImage()">
                                      <i class="material-icons dp48">clear</i>
                                    </div>
                                    <img ng-src="{{ blobUrl }}" alt="">
                                  </div>
                                </div>
                              </div>








                      <div class="input-field col s12">
                        <button class="btn waves-effect waves-light right submit" type="button" name="action" ng-click="updateSetting()">
                          Submit
                          <i class="mdi-content-send right"></i>
                        </button>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
              <div id="test3" class="white" style="display: none;">
                <p>
                  <button class="btn" ng-click="redirectPage('home.serviceadd')">
                    Manage & Add service items
                  </button>
                </p>
                <p>
                  <button class="btn" ng-click="redirectPage('home.useradd')">
                    Manage & Create Users
                  </button>
                </p>
                <p>
                  <button class="btn" ng-click="redirectPage('home.recall')">
                    Upload Recall data
                  </button>
                </p>
                <p>
                  <button class="btn" ng-click="redirectPage('home.maintenance_add')">
                    Manage and Upload OEM recommended maintainence items
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


</div>



<div id="modal1" class="modal">
  <div class="modal-content">
    <form class="" autocomplete="off" ng-submit="changePassword()">
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Current Password *</label>
          <input id="password" type="password" name="password" data-error=".errorTxt3" ng-model="changepassword.old_password">
          <div class="errorTxt3"></div>
        </div>
        <div class="input-field col s12">
          <label for="password1">New Password *</label>
          <input id="password1" type="password" name="password" data-error=".errorTxt3" ng-model="changepassword.password">
          <div class="errorTxt3"></div>
        </div>
        <div class="input-field col s12">
          <label for="cpassword">Confirm Password *</label>
          <input id="cpassword" type="password" name="cpassword" data-error=".errorTxt4" ng-model="changepassword.cpassword">
          <div class="errorTxt4"></div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!-- <a class=""></a> -->
          <button class="btn waves-effect waves-light col s12" type="submit" name="button">RESET PASSWORD</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">RESET</a>
    </div> -->
</div>

<script type="text/javascript">
  $("#formValidate1").validate({
    rules: {
      name: {
        required: true
      },
      cemail: {
        required: true,
        email: true
      },
      pemail: {
        required: true,
        email: true
      },
      m_email: {
        required: true,
        email: true
      },
      m_pass: {
        required: true,
        minlength: 5
      },
      f_url: {
        required: true,
        url: true
      },
      g_url: {
        required: true,
        url: true
      },
      t_url: {
        required: true,
        url: true
      },
      pmode: "required",
      phone: {
        required: true,
        maxlength: 15
      },
      address: "required",
      m_key: "required",
      currency: "required",
      symbol: "required",
      skey: "required",
      fapp_id: "required",
      fapp_secret: "required",
      gapp_id: "required",
      gapp_secret: "required",
    },
    //For custom messages
    messages: {
      uname: {
        required: "Enter a username",
        minlength: "Enter at least 5 characters"
      },
      curl: "Enter your website",
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {

      var placement = $(element).data('error');
      console.log(placement);
      if (placement) {
        $(placement).append(error)

      } else {
        error.insertAfter(element);
      }
    }
  });

  $(document).ready(function () {
    $('select').material_select();
  });
  $("#formValidate").validate({
    rules: {
      uname: {
        required: true,
        minlength: 5
      },
      cemail: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 5
      },
      cpassword: {
        required: true,
        minlength: 5,
        equalTo: "#password"
      },
      curl: {
        required: true,
        url: true
      },
      crole: "required",
      ccomment: {
        required: true,
        minlength: 15
      },
      cgender: "required",
      cagree: "required",
    },
    //For custom messages
    messages: {
      uname: {
        required: "Enter a username",
        minlength: "Enter at least 5 characters"
      },
      curl: "Enter your website",
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });

  $('.modal-trigger').leanModal();
</script>
