<div id="jqueryvalidation" class="section">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="col s12 m12 l12">
        <div class="card-panel">
          <!-- <h4 class="header2">Validations example</h4> -->
          <div class="row">
            <form class="formValidate" name="userAddForm" id="formValidate" ng-submit="addUser()">
              <div class="row">
                <div class="input-field col s12">
                  <label for="uname">Username*</label>
                  <input id="uname" name="uname" required type="text" data-error=".errorTxt1" ng-model="userData.name">
                  <div class="errorTxt1"></div>
                </div>
                <div class="input-field col s12">
                  <label for="cemail">E-Mail *</label>
                  <input id="cemail" type="email" required name="cemail" data-error=".errorTxt2" ng-model="userData.email">
                  <div class="errorTxt2"></div>
                  </div>
                  <!-- <div class="input-field col s12">
                    <select multiple ng-model="userData.roles" id="mySelect">
                    <option value="" disabled selected>Choose your profile</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                    <option value="marketing_manager">Marketing Manager</option>
                    <option value="used_car_manager">Used Car Manager</option>
                    <option value="service_scheduler">Service Scheduler</option>
                    <option value="service_adviser">Service Adviser</option>
                  </select>
                    <label>Role</label>
                    <div class="input-field">
                      <div class="errorTxt6"></div>
                    </div>
                  </div> -->
                  <div class="col m12 s12">
                      <label for="uroles">Roles*</label>
  
                    <p> 
                        <span ng-repeat="r in roles">
                            <input data-error=".filled-in-box"  type="checkbox" class="filled-in"   ng-model="role" ng-checked="r.status==true" ng-click="selectRoles(r.name)"  id="filled-in-box{{$index}}"  name="uroles"    />
                            <label for="filled-in-box{{$index}}">{{r.role}} </label>
                            &nbsp;
                        </span>
                        <div class="filled-in-box"></div>
                    </p>
                </div>
                  <!-- <div class=" input-field col s12">
                    <label for="genter_select">Gender *</label>
                    <p>
                      <input name="cgender" type="radio" id="gender_male" value="male" data-error=".errorTxt8" ng-model="userData.gender" />
                      <label for="gender_male">Male</label>
                    </p>
                    <p>
                      <input name="cgender" type="radio" id="gender_female" value="female" ng-model="userData.gender" />
                      <label for="gender_female">Female</label>
                    </p>
                    <div class="input-field">
                      <div class="errorTxt8"></div>
                    </div>
                  </div> -->
                  <div class="input-field col s12">
                    <a ui-sref="home.userview" class="btn waves-effect waves-light grey" style="background: #747474 !important;">Cancel </a>
                    <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                    Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                  </div>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $("#formValidate").validate({
      rules: {
        uname: {
          required: true,
        },
        cemail: {
          required: true,
          email: true
        },
      },
      //For custom messages
      messages: {
        uname: {
          required: "Enter a username",
          minlength: "Enter at least 6 characters"
        },
      },
      errorElement: 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });

    $(document).ready(function(){
      $("select").material_select();
    })

  </script>
