<style>
.decor-div {
    padding: 1em 2em 2em 2em;
    }
    div.center p{
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 1em;
}
.ul-main-seven p span {
    display: inline-block;
    padding: 14px 5px;
}
.ul-main-seven input{
    border-bottom: 1px solid #9e9e9e !important;
}
.dataTables_paginate{
    float: none;
}
</style>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Do you really want to delete this user?</h5>
  </div>
  <div class="row create_offer">
    <div class="right-align" style="margin-right: 1.5em;">
      <button type="button" class="btn btn-theme waves-effect waves-light cancel modal-close">NO</button>
      <button type="submit" class="btn btn-theme waves-effect waves-light" name="button" ng-click="deleteUser()">YES</button>
    </div>
  </div>
</div>

<div id="userEdit" class="modal">
    <div class="modal-content">
        <div class="card-panel">
            <div class="row">
              <form class="formValidate" name="userAddForm" id="formValidate" ng-submit="updateUser()">
                <div class="row">
                  <div class="input-field col s12">
                    <label for="uname">Username*</label>
                    <input id="uname" name="uname" required type="text" data-error=".errorTxt1" ng-model="userData.name">
                    <div class="errorTxt1"></div>
                  </div>
                  <div class="input-field col s12">
                    <label for="cemail">E-Mail *</label>
                    <input id="cemail" type="email" required name="cemail" data-error=".errorTxt2" ng-model="userData.email">
                    <div class="errorTxt2"></div>
                    </div>
                   
                    <div class="col m12 s12">
                        <label for="uroles">Roles*</label>
    
                      <p> 
                          <span ng-repeat="r in roles">
                              <input data-error=".filled-in-box"  type="checkbox" class="filled-in"   ng-model="role" ng-checked="r.status==true" ng-click="selectRoles(r.name)"  id="filled-in-box{{$index}}"  name="uroles"    />
                              <label for="filled-in-box{{$index}}">{{r.role}} </label>
                              &nbsp;
                          </span>
                          <div class="filled-in-box"></div>
                      </p>
                  </div>
                  
                    <div class="input-field col s12">
                      <button type="button" class="btn waves-effect waves-light grey modal-close" style="background: #747474 !important;">Cancel </button>
                      <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                      Submit
                      <i class="mdi-content-send right"></i>
                    </button>
                    </div>
                  </div>
              </form>
              </div>
            </div>
    </div>
  </div>

<div class="container">
  <div class="section">
  <div class="decor-div white z-depth-1">
    <!-- <p class="caption">USER LIST<br></p> -->
    <div id="table-datatables">
<div class="ul-main-seven ulmc" >
                <div class="bulk-upload-otr">
                    <p>
                        <b style="text-transform: none;font-weight: 500;">Enter System Users</b>
                        <!-- <b class="right">
                            <u>
                                <a ui-sref="userview" target="_blank()" class="black-text">View / Edit Users</a>
                            </u>
                        </b> -->
                    </p>
                    <p>Use this option to upload all the Users in your Dealership in bulk ( ie. Service Advisors, Schedulers,
                        Technicians etc. ).</p>
                    <p>
                        <b>Note:</b>
                    </p>
                    <p>- For bulk upload to happen, You would need upload the User data via. a Microsoft Excel file.</p>
                    <p>Step 1: Please download the MS Excel file format
                        <a href="http://cleanup.tech/dsm-index/users.xls" targer="_blank" style="color: #000;">
                            <b>
                                <u>HERE</u>
                            </b>
                        </a>
                    </p>
                    <p>Step 2: Please DONT change the format. Just fill in the User's data in the provided MS Excel file.
                    </p>
                    <p>Step 3: Save the file in a folder on your computer.</p>
                    <p>Step 4: Tap on the "Select file" button below > Browse to the folder that contains the MS Excel file
                        you saved previously > Select the file and submit.</p>
                </div>
                <div class="file-field input-field col s12">
                    <form id="userUploadForm" name="userUploadForm">
                        <div class="btn">
                            <span>Select file </span>
                            <input type="file" name="user" onchange="angular.element(this).scope().uploadUserData(this.files)">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" disabled type="text">
                        </div>
                    </form>
                    <div id="card-alert" class="card red lighten-5" ng-if="alreadyu">
                        <div class="card-content red-text">
                            <p ng-if="alreadyu.length!=0" style="color:#000">
                                The following Users items has been omitted ( as a User item with the same EMAIL exists for your dealership ) :
                                <br>
                            </p>
                            <p ng-repeat="all in alreadyu" style="text-transform:none !important">
                                {{all.name}} ({{all.email}})</p>
                        </div>
                        <button type="button" ng-click="close()" class="close red-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                </div>
                <div class="center">
                    <p>OR you can add Users manually here
                        <!-- <b class="right cap_txt">
                            <u>
                                <a ui-sref="userview" target="_blank()" class="black-text">View / Edit Users</a>
                            </u>
                        </b> -->
                    </p>
                </div>
                <form class="formValidates"  name="addUsersForm" id="addUsersForm"  ng-submit="addUser()">
                    <div id="single_upload" ng-repeat="ser in  [].constructor(totalusr) track by $index">
                        <div class="s_u_content">
                            <div class="row">
                                <div class="col m2 s12">
                                    <div class="input-field">
                                        <input type="text" placeholder="First Name*" required name="uname{{$index}}" id="uname{{$index}}" ng-model="userData[$index].first_name"
                                        />
                                    </div>
                                </div>
                                <div class="col m2 s12">
                                    <div class="input-field">
                                        <input type="text" placeholder="Last Name*" required name="lname{{$index}}" id="lname{{$index}}" ng-model="userData[$index].last_name"
                                        />
                                    </div>
                                </div>
                                <div class="col m2 s12">
                                    <div class="input-field">
                                        <input type="email" name="uemail{{$index}}" required id="uemail{{$index}}" placeholder="Email*" ng-model="userData[$index].email"
                                        />
                                    </div>
                                </div>
                                <!-- <div class="col m2 s12">
                                    <div class="input-field">
                                        <input type="password" name="upassword{{$index}}" required id="upassword{{$index}}" placeholder=" Password*" ng-model="userData[$index].password">
                                    </div>
                                </div> -->
                                <div class="col m6 s12">
                                    <p>
                                        <span ng-repeat="r in roles" >
                                            
                                            <input  data-error=".filled-in-box{{$parent.$index}}"  type="checkbox" class="filled-in" ng-model="userData[$parent.$index].roles[$index]"  ng-true-value="'{{r.name}}'" ng-click="checkBoxValid(roles, $parent.$index)"
                                                id="filled-in-box{{$index}}{{$parent.$index}}" name="uroles{{$parent.$index}}[]"
                                            />
                                            <label for="filled-in-box{{$index}}{{$parent.$index}}">{{r.role}}</label>
                                            <span class="filled-in-box{{$parent.$index}}"  style="position:absolute;font-size:12px" ng-show="$index==0"></span>
                                        </span>

                                        <input type="button" id="upload_fileds{{$index}}" ng-click="adduserdiv();" class="btn btn-floating" value="+" />
                                        <input type="button" ng-hide="$index===0" id="upload_fileds{{$index}}{{$index}}" ng-click="removuserdiv($index);" class="btn btn-floating"
                                            value="-" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-align" style="    position: static;margin: 0 0 1em;">
                        <button type="submit" class="btn waves-effect waves-light">Add above Users</button>
                    </div>
                </form>
                <div class="bulk-upload-otr">
                    <p>
                        <span>
                            <b>SA</b> = Service Advisor</span>
                        <span>
                            <b>SS</b> = Service Scheduler </span>
                        <span>
                            <b>MM</b> = Marketing Manager</span>
                        <span>
                            <b>VI</b> = Vehicle Inspector</span>
                        <span>
                            <b>UCM</b> = Used Car Manager</span>
                    </p>
                    <table id="table-datatables" class="responsive-table display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th colspan="2" class="center-align">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in userList">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                  <span ng-repeat="r in user.roles">
                                    <span ng-if="r=='admin'">ADMIN,</span>
                                    <span ng-if="r=='marketing_manager'">MM,</span>
                                    <span ng-if="r=='used_car_manager'">UCM,</span>
                                    <span ng-if="r=='service_scheduler'">SS,</span>
                                    <span ng-if="r=='service_adviser'">SA,</span>
                                    <span ng-if="r=='vehicle​_inspection​'">VI,</span>
                                </span></td>
                                <td class="center-align">
                                  <a ng-click="userEdit(user)"><button class="waves-effect waves-light btn grey darken-1">Edit</button></a>
                                </td>
                                <td class="center-align">
                                  <button class="waves-effect waves-light btn" ng-click="userdelete(user.id, $index)">Delete</button>
                                </td>
                            </tr>
                            <tr ng-if="!userList.length">
                                <td colspan="2">No user data added.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="userCount>ulimit" class="dataTables_info" id="data-table-simple_info" role="status" aria-live="polite">Showing {{ustart + 1}}-{{ulimit}} of {{userCount}} entries</div>
                <div ng-if="userCount>ulimit" class="dataTables_paginate paging_simple_numbers" id="data-table-simple_paginate">
                  <a class="paginate_button previous disabled" aria-controls="data-table-simple" ng-class="{'disabled' : (upage==1)}" ng-click="userpaginate(upage-1)" data-dt-idx="0" tabindex="0" id="data-table-simple_previous">Previous</a>
                  <span>
                    <a class="paginate_button " ng-repeat="n in userrange()" ng-click="userpaginate(n)" ng-class="{'current':(n==upage)}" aria-controls="data-table-simple" data-dt-idx="1" tabindex="0">{{n}}</a>
                  </span>
                  <a class="paginate_button next" ng-class="{'disabled' : (upage==utotalPages)}" ng-click="userpaginate(upage+1)" aria-controls="data-table-simple" data-dt-idx="7" tabindex="0" id="data-table-simple_next">Next</a>
                </div>
            </div>

            </div>
            </div>
            </div>
            </div>
            <script>
            $("#addUsersForm").validate({
        errorElement: 'div',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
            </script>