<!--start container-->
<div class="container">
  <div class="section">
  <div class="decor-div white z-depth-1">
    <!-- <p class="caption">USER LIST<br></p> -->
    <div id="table-datatables">
      <h4 class="header">List of all {{roles}} in the system</h4>
      <div class="row">
        <div class="col s12 m12 l12">
          <table id="data-table-simple" class="responsive-table display" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="2" class="center-align">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="user in userList">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><span ng-repeat="role in user.roles">{{ role }}<span ng-show="!$last">, </span></span>
                </td>
                <td>
                  <a ui-sref="home.useredit({id: user.id})"><button class="waves-effect waves-light btn grey darken-1">Edit</button></a>
                </td>
                <td>
                  <button class="waves-effect waves-light btn" ng-click="userdelete(user.id, $index)">Delete</button>
                </td>
                <!-- <td>
                  <a ui-sref="home.useredit({id: user.id})"><i class="material-icons dp48 black-text">edit</i></a>
                  <a href="javascript:void(0)" ng-click="userdelete(user.id, $index)"><i class="material-icons dp48 red-text">delete_forever</i></a>
                </td> -->
              </tr>
            </tbody>
          </table>
          <div ng-if="userCount>ulimit" class="dataTables_info" id="data-table-simple_info" role="status" aria-live="polite">Showing {{ustart + 1}}-{{ulimit}} of {{userCount}} entries</div>
          <div ng-if="userCount>ulimit" class="dataTables_paginate paging_simple_numbers" id="data-table-simple_paginate">
            <a class="paginate_button previous disabled" aria-controls="data-table-simple" ng-class="{'disabled' : (upage==1)}" ng-click="userpaginate(upage-1)" data-dt-idx="0" tabindex="0" id="data-table-simple_previous">Previous</a>
            <span>
              <a class="paginate_button " ng-repeat="n in userrange()" ng-click="userpaginate(n)" ng-class="{'current':(n==upage)}" aria-controls="data-table-simple" data-dt-idx="1" tabindex="0">{{n}}</a>
            </span>
            <a class="paginate_button next" ng-class="{'disabled' : (upage==utotalPages)}" ng-click="userpaginate(upage+1)" aria-controls="data-table-simple" data-dt-idx="7" tabindex="0" id="data-table-simple_next">Next</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <!-- <div class="divider"></div>
 -->
  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</div>
<!--end container-->

<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Do you really want to delete this user?</h5>
  </div>
  <div class="row create_offer">
    <div class="right-align" style="margin-right: 1.5em;">
      <button type="button" class="btn btn-theme waves-effect waves-light cancel modal-close">NO</button>
      <button type="submit" class="btn btn-theme waves-effect waves-light" name="button" ng-click="deleteUser()">YES</button>
    </div>
  </div>
</div>
