<style>
@media only screen and (max-width: 992px)
{
table.responsive-table tbody {
    display: inline-block;
    }
    table.responsive-table th:nth-child(3){
      min-height: 125px;
    }
    table.responsive-table tbody {
    overflow-x: auto;
    }
}
.edit_show p{
  margin: 3px 0;
}

</style>
<!--start container-->
<div class="container">
  <div class="section">
   <div class="decor-div white z-depth-1">
    <!-- <p class="caption">Tables are a nice way to organize a lot of data. We provide a few utility classes to help you style your table as easily as possible. In addition, to improve mobile experience, all tables on mobile-screen widths are centered automatically.</p> -->

    <div id="table-datatables">
      <h4 class="header">List of all VINs present in the system</h4>
      <div class="row">
        <div class="remove-btn-otr">
          <button ng-if="vehicleList.length!=0" ng-click="deleteAllVehiclePopUp()" type="button" id="remove"  class="right btn btn-block">Remove all</button>
          </div>
        <div class="col s12 m12 l12">
          <table id="data-table-simple" class="responsive-table display" cellspacing="0" style="margin-top: 10px;" width="100%">
            <thead>
              <tr>
                <th>Vins</th>
                <th>Car name</th>
                <th>Car Image</th>
                <th>Vehicle ID </th>
                <th colspan="2" class="center-align">Action</th>
              </tr>
            </thead>
            <tbody ng-repeat="item in vehicleList">
              <tr >
                  <td>{{item.vin}}</td>
                  <td>{{item.name}}</td>
                  <td><img src="{{item.icon}}" width="100px" height="auto"></td>
                  <td>{{item.vehicle_id}}</td>
                  <td><button ng-click="showDetails = ! showDetails" class="waves-effect waves-light btn grey darken-1" >Edit</button>
                </td>
                <td>
                  <button class="waves-effect waves-light btn" ng-click="vehicleDeletePopUp(item.id, $index)">Delete</button>
                </td>
                  <!-- <td>
                    <a ng-click="showDetails = ! showDetails" ><i class="material-icons dp48 black-text">edit  </i></a>
                    <a href="javascript:void(0)" ng-click="vehicleDeletePopUp(item.id, $index)"><i class="material-icons dp48 red-text ">delete_forever</i></a>
                  </td> -->
              </tr>
              <tr  ng-show="showDetails" class="edit_show">
                <!-- <td colspan="5">Hello{{$index}}</td> -->
                <td>
                  <p><b>Model:</b></p>
                  <p><b>Make:</b></p>
                  <p><b>Year:</b></p>
                  <p><b>Mileage:</b></p>

                </td>
                <td>
                  <p>{{item.MODEL}}</p>
                  <p>{{item.MAKE}}</p>
                  <p>{{item.YEAR}}</p>
                  <p>{{item.mileage}}</p>
                </td>
                <td>
                  <p><b>Model-Number:</b></p>
                  <p><b>Market:</b></p>
                  <p><b>Country:</b></p>

                </td>
                <td colspan="3">
                  <p>{{item.details.model_number}}</p>
                  <p>{{item.details.market}}</p>
                  <p>{{item.details.country_of_manufacture}}</p>
                </td>
              </tr>

              <tr ng-if="vehicleList.length==0">
                <th colspan="8">No result found</th>
              <tr>
            </tbody>
          </table>
          <div ng-if="vehicleCount>vlimit" class="dataTables_info" id="data-table-simple_info" role="status" aria-live="polite">Showing {{vstart + 1}}-{{vstart + vlimit}} of {{vehicleCount}} entries</div>
          <div ng-if="vehicleCount>vlimit" class="dataTables_paginate paging_simple_numbers" id="data-table-simple_paginate">
            <a class="paginate_button previous disabled" aria-controls="data-table-simple" ng-class="{'disabled' : (vpage==1)}" ng-click="vehiclepaginate(vpage-1)" data-dt-idx="0" tabindex="0" id="data-table-simple_previous">Previous</a>
            <span>
                <a class="paginate_button " ng-repeat="n in vehiclerange()" ng-click="vehiclepaginate(n)" ng-class="{'current':(n==vpage)}" aria-controls="data-table-simple" data-dt-idx="1" tabindex="0">{{n}}</a>
            </span>
            <a class="paginate_button next" ng-class="{'disabled' : (vpage==votalPages)}" ng-click="vehiclepaginate(vpage+1)" aria-controls="data-table-simple" data-dt-idx="7" tabindex="0" id="data-table-simple_next">Next</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- <br>
    <div class="divider"></div> -->

  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</div>
<!--end container-->

<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Do you really want to delete all the vehicles?</h5>
  </div>
  <div class="create_offer right" style="padding:0 1.5em 1.5em;">
      <button type="button" class="btn btn-theme waves-effect waves-light cancel modal-close">NO</button>
      <button type="submit" class="btn btn-theme waves-effect waves-light" name="button" ng-click="vehicleDeleteAll()">YES</button>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h5>Do you really want to delete this vehicle?</h5>
  </div>
  <div class="row create_offer">
    <div class="col m7">
    </div>
    <div class="col m3 right-align">
      <button type="button" class="btn btn-theme waves-effect waves-light cancel modal-close">NO</button>
    </div>
    <div class="col m2 right-align">
      <button type="submit" class="btn btn-theme waves-effect waves-light" name="button" ng-click="vehicleDelete()">YES</button>
    </div>
  </div>
</div>
