<!--start container-->
<div class="container">
  <div class="section">
   <div class="decor-div white z-depth-1">
    <!-- <p class="caption">Tables are a nice way to organize a lot of data. We provide a few utility classes to help you style your table as easily as possible. In addition, to improve mobile experience, all tables on mobile-screen widths are centered automatically.</p> -->
    <div id="table-datatables">
      <h4 class="header">List of all racall items fed in the system</h4><input type="text" ng-model="searchVin"  placeholder="Search Vin " >
      <div class="row">
        <div class="col s12 m12 l12">
          <table id="data-table-simple" class="responsive-table display" cellspacing="0">
            <thead>
              <tr>
                <!-- <th>Id </th> -->
                <th>VIN</th>
                <th>Component Description</th>
                <th>Manufacturing Start Date</th>
                <th>Manufacturing End Date</th>
                <th>Notification Date</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="recalls.length!=0" ng-repeat="item in recalls">
                <!-- <td>{{item.nhtsa_recall_id}}</td> -->
                <td>{{item.vin}}</td>
                <td>{{item.component_description}}</td>
                <td>{{item.manufacturing_start_date | date:'yyyy-MM-dd'}} </td>
                <td>{{item.manufacturing_end_date | date:'yyyy-MM-dd'}}</td>
                <td>{{item.owner_notification_date | date:'yyyy-MM-dd'}}</td>
                <td>{{item.created_at | date:'yyyy-MM-dd'}}</td>
                <td>
                  <button class="waves-effect waves-light btn grey darken-1" ng-click="openPopUp(item)">View</button>
                </td>
                <td>
                  <button class="waves-effect waves-light btn" ng-click="deleteItem(item.id, $index)">Delete</button>
                </td>
              </tr>
              <tr ng-if="recalls.length==0">
                <th colspan="8">No result found</th>
                <tr>
            </tbody>
          </table>
          <div ng-if="recallCount>rlimit" class="dataTables_info" id="data-table-simple_info" role="status" aria-live="polite">Showing {{rstart + 1}}-{{rstart + rlimit}} of {{recallCount}} entries</div>
          <div ng-if="recallCount>rlimit" class="dataTables_paginate paging_simple_numbers" id="data-table-simple_paginate">
            <a class="paginate_button previous disabled" aria-controls="data-table-simple" ng-class="{'disabled' : (rpage==1)}" ng-click="rpaginate(rpage-1)" data-dt-idx="0" tabindex="0" id="data-table-simple_previous">Previous</a>
            <span>
                <a class="paginate_button " ng-repeat="n in recallrange()" ng-click="recallpaginate(n)" ng-class="{'current':(n==rpage)}" aria-controls="data-table-simple" data-dt-idx="1" tabindex="0">{{n}}</a>
            </span>
            <a class="paginate_button next" ng-class="{'disabled' : (rpage==rtotalPages)}" ng-click="recallpaginate(rpage+1)" aria-controls="data-table-simple" data-dt-idx="7" tabindex="0" id="data-table-simple_next">Next</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <div class="divider"></div>

  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</div>
<!--end container-->


<div id="modal1" class="modal">
  <div class="modal-content">
      <table class="table bordered">
        <tbody>
          <tr>
            <th>Title</th>
            <th>Information</th>
          </tr>
          <tr>
            <td>VIN</td>
            <td>{{ item.vin || 'None' }}</td>
          </tr>
          <tr>
            <td>Capaign Number</td>
            <td>{{ item.nhtsa_campaign_number || 'None' }}</td>
          </tr>
          <tr>
            <td>Defect Summary</td>
            <td>{{ item.defect_summary || 'None' }}</td>
          </tr>
          <tr>
            <td>Manufacturing Start Date</td>
            <td>{{ item.manufacturing_start_date || 'None' }}</td>
          </tr>
          <tr>
            <td>Manufacturing End Date</td>
            <td>{{ item.manufacturing_end_date || 'None' }}</td>
          </tr>
          <tr>
            <td>Record Creation Date</td>
            <td>{{ item.record_creation_date || 'None' }}</td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>{{ item.notes || 'None' }}</td>
          </tr>
          <tr>
            <td>Correction Summary</td>
            <td>{{ item.corrective_action_summary || 'None' }}</td>
          </tr>
          <tr>
            <td>Component Description</td>
            <td>{{ item.component_description || 'None' }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<script type="text/javascript">

</script>
